
<div id="admin-all-messages-content">
  <header class='clearfix'>
    <h2 class="page-title pull-left">Notifications</h2>
    <%=
      if Notification.any?
        link_to "Dismis all", dismiss_all_notifications_path, method: :delete, data: {confirm: 'Are you sure'}, class: "btn btn-xs btn-default pull-right"
      end
    %> 
  </header>
  <div class="content-inner">
    <div class="row">
      <div class="col-md-12 text-center">
        <% @visitor_notifications.each do |notif| %> 
          <p> 
          <%= "#{notif.notifiable.fullname} added as a new vistor #{time_ago notif.created_at}" %>
          <%= link_to 'Dismiss', admin_notification_path(notif), method: :delete, data: {confirm: 'Are  you sure?'} %> 
          </p>
        <hr />
        <% end %> 
        <% @comment_notifications.each do |notif| %> 
          <p> 
          <%= "#{notif.notifiable.visitor.fullname} visitor added a comment #{time_ago notif.created_at}" %>
          <%= link_to 'Dismiss', admin_notification_path(notif), method: :delete, data: {confirm: 'Are  you sure?'} %> 
          </p>
        <% end %> 
      </div>
    </div>
  </div>
</div>
