  <%= form_for [:admin, @book], html: { multipart: true}  do |f| %> 
    <p>
    <%= f.label "Title" %><br />
    <%= f.text_field :title %>  
    </p>
    <p>
    <%= f.label "Author's First Name" %><br />  
    <%= f.text_field :author_fname %>  
    </p>
    <p>
    <%= f.label "Author's Last Name" %><br />  
    <%= f.text_field :author_lname %>  
    </p>
    <p>
    <%= f.label "Publisher" %><br />    
    <%= f.text_field :publisher %>  
    </p>
    <p>
    <%= f.label "Publish year" %><br />  
    <%= f.text_field :publish_year %>
    </p>
    <p>
    <%= f.label "ISBN" %><br />  
    <%= f.text_field :isbn %>  
    </p>
    <p>
    <%= f.label "Display" %>
    <%= f.check_box :display %>  
    </p>
    <p>
    <%= f.label "Upload file" %><br />  
    <%= f.file_field :cover %>  
    </p>

    <%= f.fields_for :review do |review| %>
      <p> <%= review.label :content, "Content" %>  </p>
      <%= review.text_area :content, class: "tinymce", rows: 10, cols: 20 %>
      <%= tinymce %> 
    <% end %> 
    <p>
    <%= f.submit "Submit" %>  
    </p>
  <% end %>  
