<h1>Books</h1>
<p>
<h3>Currently Displayed: <%= build_currently_displayed_link @displayed, '.MyModal' %> </h3> 
</p>
<%= link_to 'Create Review', new_admin_book_path  %> 
<div class="container">
  <% @books.each do |book| %>
    <div class="jumbotron">
      <p> <%= book.title %> </p>
      <p> <%= book.auth_name %> </p>
      <p> <%= book.published %> </p>
      <p> <%= book.isbn %> </p>
      <p> <%= link_to "Edit", edit_admin_book_path(book) %> | 
      <%= link_to "Delete", admin_book_path(book), method: :delete, data: {confirm: "Are you sure?"} %></p>

    </div>
  <% end %> 
</div>
<div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <p> <%= @displayed.title %> </p>
      <p> <%= @displayed.auth_name %> </p>
      <p> <%= @displayed.published %> </p>
      <p> <%= @displayed.isbn %> </p>
    </div>
  </div>
</div>
