<div id="admin-all-books-content">
  <header class='clearfix'>
    <h2 class="page-title pull-left">Reviews</h2>
    <%= link_to 'Create Review', new_admin_book_path, class: 'btn btn-xs btn-default pull-right'  %> 
  </header>
  <div class="content-inner">
    <div class="col-md-12">
      <div  class="current-book">
        <% if @displayed %>
          <p> Currently displayed</p>
          <h3><%= @displayed.title %></h3> 
        <% end %> 
      </div >
    </div>
    <div class="form-wraper">
      <% @books.each do |book| %>
        <div class="row review-row">
          <div class="col-xs-4 col-sm-3">
            <%= book.show_cover %> 
          </div>
          <div class="col-xs-8 col-sm-9 book-details">
            <p class="book-title"> <%= book.title %> </p>
            <p class="book-auth"> <%= book.auth_name %> </p>
            <p class="book-details"> <%= book.published %> </p>
            <p class="book-details"> ISBN: <%= book.isbn %> </p>
            <p class="book-content"> <%= truncate(book.review.content.html_safe, length: 200, separator: '') %> </p>
            <div class="clearfix">
              <div class="reviews-actions">
                <p> 
                <%= book.display_action_link  %> 
                <%= link_to "<span class='fa fa-pencil-square-o'></span> Edit".html_safe, edit_admin_book_path(book), class: 'btn btn-xs btn-default' %>
                <%= link_to "<span class='fa fa-trash-o'></span> Delete".html_safe, admin_book_path(book), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-default' %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr />
      <% end %> 
    </div>
  </div>
</div>
