<h1>portfolio</h1>
<div class="row">
  <% @projects.each do |project| %>
    <% if project.display  %>
      <div class="col-md-8">
        <div class="post">
          <%= link_to front_portfolio_path(project), class: 'front-project-link' do %> 
            <h1> <%= project.title %> </h1>
          <% end %> 
          <% unless project.project_images.empty?  %>
            <div class='project-gallery'>
              <% project.project_images.each do |img| %> 
                <a class="grouped_elements" rel="group<%= project.id %>" href="<%= img.image_url %>" title=" <%= img.description %> "><img src="<%= img.image_url %>" alt=""/></a>
              <% end %> 
            </div>
        <% end %> 
        <%= link_to front_portfolio_path(project), class: 'front-project-link' do %> 
          <%= project.caption %>
        <% end %> 
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-tags"> 
          <% project.tags.each do |tag| %>
            <div class="item">
              <%= tag.name %> 
            </div>
          <% end %> 
        </div>
      </div>
    <% end %> 
  <% end %> 
</div>
<script>
$("a.grouped_elements").fancybox();
</script>
