<div class="page portfolio">
  <%# <%= render 'layouts/partials/front_header' %1> %> 
  <div class="row">
    <% @projects.each do |project| %>
      <% if project.display  %>
        <div class="project">
          <div class="row">
            <div class="col-md-8">
              <%= set_project_title(project) %> 
            </div>
          </div>
          <div class="row">
            <% unless project.project_images.empty?  %>
              <div class='project-gallery'>
                <div class="col-md-8">
                  <% project.project_images.each do |img| %> 
                    <a class="grouped_elements" rel="group<%= project.id %>" href="<%= img.image_url %>" title=" <%= img.description %> "><img src="<%= img.image_url %>" alt=""/></a>
                  <% end %> 
                </div>
                <div class="col-md-2">
                  <div class="project-tags"> 
                    <%= set_project_tags(project) %> 
                  </div>
                </div>
              </div>
            <% end %> 
          </div>
          <div class="row">
            <div class="col-md-8">
              <%= set_project_caption(project) %> 
            </div>
          </div>
        </div>
      <% end %> 
    <% end %> 
  </div>
</div>
<script>
$("a.grouped_elements").fancybox();
</script>
