<%= form_for([:admin, @social_module]) do |f| %>

  <%= render 'admin/application/validation_errors', object: @social_module %> 

  <div id="social_links">
    <%= f.fields_for :social_links do |link| %> 
      <%= render 'social_link_fields', f: link %> 
    <% end %> 
  </div>

  <div class="actions">
    <%= f.submit "Update Social Links", class: 'btn btn-default' %>
    <%= link_to "Back", new_admin_setting_path, class: 'btn btn-default' %> 
    <%= link_to_add_association icon('plus'), f, :social_links, class: 'btn btn-default' %> 
  </div>

<% end %>
