<div class="col-xs-10 col-center">
  <div class="containter">
    <div class="row">
      <div class="col-xs-4 col-sm-3">
        <%= @book.show_cover %> 
      </div>
      <div class="col-xs-8 col-sm-9">
        <h2> <%= @book.title %> </h2>
        <h3> <%= @book.auth_name %> </h3>
        <h4> <%= @book.published %> </h4>
      </div>
      <div class="col-md-12">
        <p> <%= @book.review.content.html_safe %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= link_to "All Reviews", reviews_path, class: "all btn btn-default" %> 
      </div>
    </div>
  </div>
</div>

