<div class="page blog">
  <%= render 'layouts/partials/front_header' %> 
  <section class="list">
    <% @posts.each do |post| %>
      <div class="item">
        <%= link_to front_post_path(post), class: 'url' do  %> 
          <aside class="date">
            <time datetime=<%= post.created_at.strftime('%d-%m-%Y') %> >
              <%= post.created_at.strftime('%b %d %Y') %><br>
              <%# <small class="date"><%= time_ago post.created_at %1></small> %>
            </time>
          </aside>
          <h3 class="title"> <%= post.title %> </h3>
      <% end %> 
      </div>
    <% end %> 
    <div class="kaminari text-center">
      <%= paginate @posts %> 
    </div>
  </section>
</div>
