<div class="post">
  <h1 class="title"> <%= @post.title %> </h1>
  <span class="date"> <time datetime=<%= @post.published_at.strftime("%d-%m-%Y") %> > <%= @post.published_at.strftime("%A. %B %d, %Y") %>  </time> 
  </span>

  <div class="post-tags"> 
    <% if check_tagging_availability %>
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, front_posts_path(tag: tag.name), class: 'item' %>
      <% end %> 
    <% end %> 
  </div>

  <%= @post.content.html_safe %>

</div>

<div class="disqus">
  <h3>Comments</h3>
  <% @post.comments.approved.each.with_index(1) do |comment, index| %>
    <div class="bs-callout">
      <h4> <b><%= comment.visitor.fullname %></b> </h4>
      <p> <%= comment.message %>  </p>
      <p class="text-right"> <em>commented: <%= time_ago comment.created_at %></em> </p>
    </div>
  <% end %> 
  <hr />
  <div class="comments-form">
    <% if check_commenting_availability %>
      <%= render 'comments_form' %> 
    <% end %> 
  </div>
</div>

