<div class="mdl-grid portfolio-max-width">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"> <%= @post.title %> </h2>
    </div>

    <% if @post.try(:header_image) %>
      <div class="mdl-card__media">
        <img class="article-image" src=" images/portfolio-example-01.jpg" border="0" alt="">
      </div>
    <% end %> 

    <div class="mdl-card__supporting-text">
      <strong>Category: </strong>
      <span>
        <% if check_tagging_availability %>
          <% @post.tags.each do |tag| %>
            <%= link_to tag.name, front_posts_path(tag: tag.name), class: 'item' %>
          <% end %> 
        <% end %> 
      </span> 
    </div>

    <div class="mdl-grid portfolio-copy">
      <%= @post.content.html_safe %>
    </div>

  </div>
</div>
<%# TODO comments %>
<%# <div class="disqus"> %>
  <%#   <h3>Comments</h3> %>
  <%#   <% @post.comments.approved.each.with_index(1) do |comment, index| %1> %>
  <%#     <div class="bs-callout"> %>
    <%#       <h4> <b><%= comment.visitor.fullname %1></b> </h4> %>
    <%#       <p> <%= comment.message %1>  </p> %>
    <%#       <p class="text-right"> <em>commented: <%= time_ago comment.created_at %1></em> </p> %>
    <%#     </div> %>
  <%#   <% end %1> %> 
<%#   <hr /> %>
<%#   <div class="comments-form"> %>
  <%#     <% if check_commenting_availability %1> %>
    <%#       <%= render 'comments_form' %1> %> 
    <%#     <% end %1> %> 
  <%#   </div> %>
<%# </div> %>


