<p id="notice"><%= notice %></p>

<h1>Listing Admin Project Images</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_project_images.each do |admin_project_image| %>
      <tr>
        <td><%= link_to 'Show', admin_project_image %></td>
        <td><%= link_to 'Edit', edit_admin_project_image_path(admin_project_image) %></td>
        <td><%= link_to 'Destroy', admin_project_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project image', new_admin_project_image_path %>
