<div id="admin-all-projects-images">
  <header class='clearfix'>
    <h2 class="page-title pull-left">Project Images Gallery</h2>
    <div class="upload-button pull-right">
      <%= form_for [:admin, ProjectImage.new] do |f| %> 
        <%= f.label :image, 'Upload images', class: 'btn btn-default btn-xs' %> 
        <%= f.file_field :image, multiple: true, name: 'project_image[image]' %> 
        </br>
      <% end %> 
    </div>
  </header>
  <div class="content-inner">
    <div id="progress">
      <div class="bar" style="width: 0%;"></div>
    </div>
    <div class="form-wraper">

      <div class="container">
        <div id="paintings">
          <% @admin_project_images.each do |img| %> 
            <div class="col-sm-4 col-md-3">
              <div class="thumbnail">
                <%= link_to admin_project_image_path(img) do %> 
                  <%= image_tag img.try(:image).url, class: 'img-responsive' %> 
                <% end %> 
              </div>
            </div>
          <% end %> 
        </div>
      </div>



    </div>
  </div>
</div>
