<%= form_for([:admin, @admin_project]) do |f| %>
  <%= render 'admin/application/validation_errors', object: @admin_project %> 
  <div class="form-group">
    <%= f.label :title %> 
    <%= f.text_field :title, class: 'form-control' %> 
  </div>
  <div class="form-group">
    <%= f.label :description %> 
    <%= f.cktext_area :description, rows: 10, cols: 20 %>
  </div>
  <div class="form-group">
    <%= f.label :display, "Publish project when I click on save" %> 
    <%= f.check_box :display, class: 'checkbox' %> 
    <%= link_to 'Add images', show_images_admin_projects_path, remote: true, class: 'btn btn-default btn-xs' %> 
  </div>
  <div class="form-group">
    <%= f.submit "Create / publish", class: 'clearfix btn btn-default' %>
  </div>
<% end %>
