<div id="admin-all-projects-content">
  <header class='clearfix'>
    <h2 class="page-title pull-left">Projects</h2>
    <%= link_to "New Project", new_admin_project_path, class: 'btn btn-xs btn-default pull-right' %> 
  </header>


  <div class="content-inner">
    <div class="form-wraper">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @admin_projects.each do |admin_project| %>
            <tr>
              <td> <%= admin_project.title %> </td>
              <td> 
                <% admin_project.project_image_ids.each do |i| %>
                  <%= i %> 
                <% end %> 
              </td>
              <%# <td><%= link_to 'Show', admin_project %1></td> %>
              <%# <td><%= link_to 'Edit', edit_admin_project_path(admin_project) %1></td> %>
              <%# <td><%= link_to 'Destroy', admin_project, method: :delete, data: { confirm: 'Are you sure?' } %1></td> %>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
