<div id="admin-all-posts-content">
  <header class='clearfix'>
    <h2 class="page-title pull-left">Posts</h2>
    <%= link_to "New Post", new_admin_post_path, class: 'btn btn-xs btn-default pull-right' %> 
  </header>
  <div class="content-inner">
    <div class="form-wraper">

      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <%= render 'search', route: admin_posts_path %>
          </div>
        </div>
      </div>

      <% @posts.each do |post| %>
        <div class="row">
          <div class="col-md-1">
            <span class='label label-default <%= status_converter(post.publish) %>'> <%= status_converter(post.publish) %> </span>
          </div>
          <div class="col-md-8">
            <p> <%= truncate(post.title, length: 60, separator: '') %> </p>
            <small>Created <%= time_ago post.created_at %> </small>
          </div>
          <div class="col-md-3">
            <%= link_to "<span class='fa fa-folder-open-o'></span> View".html_safe, admin_post_path(post), class: 'btn btn-xs btn-default' %> 
            <%= link_to "<span class='fa fa-pencil-square-o'></span> Edit".html_safe, edit_admin_post_path(post), class: 'btn btn-xs btn-default' %>
            <%= link_to "<span class='fa fa-trash-o'></span> Delete".html_safe, admin_post_path(post), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-default' %> 
          </div>
        </div>
        <hr />
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <%= paginate @posts %> 
        </div>
      </div>
    </div>
  </div>
</div>
