
<div id="front-index">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3"> 
	<div class="panel">
	  <div class="panel-body">
            <br>
	    <% @posts.each do |post| %>
	      <div class="row">    
		<div class="col-center col-md-10 col-sm-9">
		  <h3> <%= truncate(post.title, length: 70, separator: '') %> </h3>
		  <div class="row post-details">
		    <div class="col-xs-9">
		      <h4> <small style="font-family:courier,'new courier';" class="text-muted"><%= time_ago post.created_at %> • <%= link_to "Read More", post_path(post), class: "text-muted" %></small> </h4>
		      <% if Setting.tag_visible? %>
			<% post.tags.each do |tag| %>
			  <h4><span class="tag-label"><%= link_to tag.name, posts_path(tag: tag.name) %></span></h4>
			<% end %> 
		      <% end %> 
		    </div>
		    <div class="col-xs-3"></div>
		  </div>
		</div>
	      </div>
	      <hr>
	    <% end %> 
            <div class="kaminari text-center">
              <%= paginate @posts %> 
            </div>
	  </div>
	</div>
      </div>
      <%= render "layouts/partials/book_review_panel" %>
    </div>
  </div>
</div>
