<div id="booksReviews">
  <h1>Books Reviews</h1>
  <hr />
  <% @books.each do |book| %> 

    <div class="row">    
      <div class="col-sm-3">
        <%= book.show_cover %> 
      </div>
      <div class="col-sm-9">
        <h2> <%= book.title %>  </h2>
        <h3> <%= book.auth_name %>  </h3>
        <p id="truncatedReview" > <%= raw book.review.content.truncate(70) %> </p>
        <p> <%= link_to ">> Read Review <<", review_path(book), class: 'text-right' %> </p>
      </div>
    </div>
    <hr>

  <% end %> 

  <div class="text-right">
    <%= link_to "Home", posts_path%> 
  </div>
</div>
