<header  class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
  <%# TODO particles div %>
  <%# <div class="mdl-layout__header-row portfolio-logo-row"> %>
    <%# <span class="mdl-layout__title"> %>
      <%#   <div class="portfolio-logo" style="background-image: url(<%= @moderator.avatar_url(:profile_frontend) if @moderator  %1>);"> </div> %>
      <%# </span> %>
    <%# <span class="mdl-layout__title"> %>
      <%#   <1%# OPTIMIZE logo helper method %1> %>
      <%#   <1%# <div class="portfolio-logo" style="background-image: url(<%= @moderator.avatar_url(:profile_frontend) if @moderator  %2>);"> </div> %1> %>
      <%#   <span class="mdl-layout__title"> <%= Setting.site_name %1> </span> %>
      <%#   <span class="mdl-layout__title"> <%= Setting.site_phrase %1> </span> %>
      <%# </span> %>
    <%# </div> %>
  <%# <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only"> %>
    <%# <%= render 'layouts/partials/nav_list' %1> %> 
    <%# </div> %>
  <div class="mdl-layout__header-row portfolio-logo-row">
    <span class="mdl-layout__title"> <%= Setting.site_name %> </span>
  </div>
</header>
<div class="mdl-layout__drawer">
  <%= render 'layouts/partials/nav_list' %> 
</div>

