<%# FIXME is-active need to be added to links %>
<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
  <%# <a class="mdl-navigation__link is-active" href="index.html">Portfolio</a> %>
  <%# <a class="mdl-navigation__link" href="blog.html">Blog</a> %>
  <%# <a class="mdl-navigation__link" href="about.html">About</a> %>
  <%# <a class="mdl-navigation__link" href="contact.html">Contact</a> %>
  <%= build_navigation_link 'Home', root_path unless params[:controller] == 'front/profiles' %> 
  <%= build_navigation_link 'About', front_abouts_path %> 
  <%= build_navigation_link 'Projects', front_portfolios_path %> 
  <%= build_navigation_link 'Blog', front_posts_path %> 
  <%= build_navigation_link 'Books', front_reviews_path if check_reviews_availability %> 
</nav>

