<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
  <%= build_navigation_link 'About', front_abouts_path %> 
  <%= build_navigation_link 'Projects', front_portfolios_path %> 
  <%= build_navigation_link 'Blog', front_posts_path %> 
  <%= build_navigation_link 'Books', front_reviews_path if check_reviews_availability %> 
  <%= build_navigation_link 'Contact', new_front_visitor_path %> 
</nav>

