<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tinymce_assets %>
  </head>
  <body>
    <div id="admin">

      <% if flash[:notice] %>
        <div class="notice"> <%= flash[:notice] %> </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"> <%= flash[:alert] %> </div>
      <% end %>


      <div class="container-fluid display-table">
        <div class="row display-table-row">

          <div id="side-menu" class="col-sm-2 display-table-cell">
            <h1>Navigation</h1>
            <%= render 'layouts/partials/admin_asside' %> 
          </div>

          <div class="col-sm-10 display-table-cell">

            <div class="row">
              <%= render 'layouts/partials/admin_header' %> 
            </div>

            <div class="row">
              <%= yield %>
            </div>

            <div class="row">
              <%= render 'layouts/partials/admin_footer' %> 
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
