<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tinymce_assets %>
  </head>
  <body>
    <div id="admin">

      

      <div class="container-fluid display-table">
        <div class="row display-table-row">

          <div id="side-menu" class="hidden-xs col-md-2 col-sm-1 col-xs-1 display-table-cell">
            <%= render 'layouts/partials/admin_asside' %> 
          </div>

          <div class="col-md-10 col-sm-11 col-xs-12 display-table-cell">

            <div class="row">
              <%= render 'layouts/partials/admin_header' %> 
            </div>

            <div class="row">
              <%= render 'layouts/partials/flash_msgs' %> 
              <%= yield %>
            </div>

            <div class="row">
              <%= render 'layouts/partials/admin_footer' %> 
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
