<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tinymce_assets %>
  </head>
  <body>

    <% if flash[:notice] %>
      <div class="notice"> <%= flash[:notice] %> </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert"> <%= flash[:alert] %> </div>
    <% end %>

    <%= link_to 'Logout <i class="ico fa fa-sign-out" aria-hidden="true"></i>'.html_safe, logout_path %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <%= render 'layouts/partials/admin_asside' %> 
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
