<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tinymce_assets %>
  </head>
  <body>
    <div id="admin">

      <% if flash[:notice] %>
        <div class="notice"> <%= flash[:notice] %> </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"> <%= flash[:alert] %> </div>
      <% end %>


      <div class="container-fluid display-table">
        <div class="row display-table-row">
          <div id="side-menu" class="col-sm-2 display-table-cell">
            <h1>Navigation</h1>
            <%= render 'layouts/partials/admin_asside' %> 
          </div>
          <div class="box col-sm-10 display-table-cell">
            <div class="row">
              <header>
                <div class="col-md-5">
                  <input type="text" placeholder="Search for something...">
                </div>
                <div class="col-md-7">
                  <ul>
                    <li>Welcome to your administration area</li>
                    <li> 
                      <a href="#">
                        <span class="fa fa-bell"></span>
                        <span class="label label-warning">3</span>
                      </a>
                    </li>
                    <li> 
                      <a href="#">
                        <span class="fa fa-envelope"></span>
                        <span class="label label-message">3</span>
                      </a>
                    </li>
                    <li>
                      <%= link_to 'Logout <i class="ico fa fa-sign-out" aria-hidden="true"></i>'.html_safe, logout_path %>
                    </li>
                  </ul>
                </div>
              </header>
            </div>

            <div class="row">
              <%= yield %>
            </div>

            <div class="row">
              <footer>
                <div class="pull-left"> <b>Copyright</b> &copy; 2016 </div>
                <div class="pull-right"> Rise </div>
              </footer>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
