<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'front', media: 'all', 'data-turbolinks-track' => false %>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
  </head>
  <body>
    <div class="row row-index">
      <div id="alert">
        <% if flash[:notice] %>
          <div class="notice"> <%= flash[:notice] %> </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert"> <%= flash[:alert] %> </div>
        <% end %>
      </div>

      <%= render 'layouts/partials/nav' %> 
      <%= render 'layouts/partials/header' %> 


      <%= yield %>

      <%= render 'layouts/partials/footer' %> 
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#alert').fadeIn().delay(4000).fadeOut();
      })
    </script>
  </body>
</html>
