<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'front', media: 'all', 'data-turbolinks-track' => false %>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="notice"> <%= flash[:notice] %> </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert"> <%= flash[:alert] %> </div>
    <% end %>

    <div id="post-show">
      <div class="container">
        <div class="row">
          <div class="col-xs-2">
            <div class="row">
              <div class="col-xs-12 meta-author-wrap">
                <%= image_tag 'gravatar-small.jpg', class: 'avatar-img img-responsive' %> 
                <div class="meta-author">
                  <h4> <strong> Pawel Stefaniak </strong></h4>
                  <p> freelance<br /> web developer </p>
                  <p> developer @ <a href="#">rise</a></p>
                  <p><a href="#">send message</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-9"> 
            <div class="panel">
              <div class="panel-body">
                <div class="row">    
                  <div class="col-center col-md-10 col-sm-9">
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
