<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= stylesheet_link_tag    'front_end', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container login">
      <div class="row">
        <div class="col-center col-md-3">
            <% if flash[:notice] %>
              <div class="alert"> <%= flash[:notice] %> </div>
            <% end %>
            <% if flash[:alert] %>
              <div class="alert"> <%= flash[:alert] %> </div>
            <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

    <script type="text/javascript">
        $(document).ready(function(){
          $('.alert').fadeIn().delay(1000).fadeOut();
        })
    </script>
  </body>

</html>
