<!DOCTYPE html>
<html>
  <head>
    <%# TODO implement title functionality %>
    <title>MyBlog</title>
    <%= stylesheet_link_tag    'front_end', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="body-particles" id="particles-js">
    </div>
    <div class="overlay">
      <%# OPTIMIZE add dashboard nav links and logout %> 
      <div class="wrapper-normal">
        <%= render 'layouts/partials/front_main_nav' unless params[:controller] == 'front/profiles' %> 
        <%= yield %>
        <%= render "layouts/partials/front_footer" %>
      </div>
      <%= render "layouts/partials/front_flash_messages" %>
    </div>
  </body>
  <%# <script type="text/javascript"> %>
<%# particlesJS.load('particles-js', 'assets/particlesjs-config.json', function() { %>
  <%# console.log('callback - particles.js config loaded'); %>
<%# }); %>
  <%# </script> %>
</html>
